<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div *ngIf="getLanguage() === 'false'" class="container contact-form">
    <div class="contact-image">
        <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <h3>Lasa-ne un mesaj!</h3>
      <div class="form-group">
          <label for="name">Nume</label>
          <input
              formControlName="name"
              id="name"
              type="text"
              class="form-control">
          <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
              <div *ngIf="f.name.errors.required">Campul de nume este obligatoriu</div>
              <div *ngIf="f.name.errors.minlength">Numele ar trebui sa aibe cel putin 3 caractere</div>
          </div>
      </div>

      <div class="form-group">
          <label for="body">Mesaj</label>
          <textarea
              formControlName="body"
              id="body"
              type="text"
              class="form-control">
          </textarea>
          <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
              <div *ngIf="f.body.errors.required">Campul de mesaj este obligatoriu</div>
          </div>
      </div>

      <button class="btn btn-info" type="button" (click)="resetValue()">Reset</button>
      <button class="btn btn-primary" type="submit">Trimite</button>
      <br/>
  </form>
</div>

<div *ngIf="getLanguage() === 'true'" class="container contact-form">
  <div class="contact-image">
      <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
  </div>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h3>Leave us a message!</h3>
    <div class="form-group">
        <label for="name">Name</label>
        <input
            formControlName="name"
            id="name"
            type="text"
            class="form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <div *ngIf="f.name.errors.required">Name is required.</div>
            <div *ngIf="f.name.errors.minlength">Name should be 3 character.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="body">Message</label>
        <textarea
            formControlName="body"
            id="body"
            type="text"
            class="form-control">
        </textarea>
        <div *ngIf="f.body.touched && f.body.invalid" class="alert alert-danger">
            <div *ngIf="f.body.errors.required">Message is required.</div>
        </div>
    </div>

    <button class="btn btn-info" type="button" (click)="resetValue()">Reset</button>
    <button class="btn btn-primary" type="submit">Send</button>
</form>
</div>

</body>
</html>
