<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div>
    <section *ngIf="getLanguage() === 'false'" class="nav-section">
      <div class="container">
          <nav >
              <div class="nav-content">
                  <div class="nav-logo">
                      <img id="image" src="../assets/dentaWEB-logos.jpeg">
                  </div>
                  <div class="nav-links">
                      <a [routerLink]="['/home']"
                         [routerLinkActive]="['active']">Acasa</a>
                      <a [routerLink]="['/noutati']"
                         [routerLinkActive]="['active']">Noutati</a>
                      <a [routerLink]="['/despre-noi']"
                         [routerLinkActive]="['active']">Despre Noi</a>
                      <a [routerLink]="['/medici']"
                         [routerLinkActive]="['active']">Echipa</a>
                      <a [routerLink]="['/servicii-tarife']"
                         [routerLinkActive]="['active']">Servicii & Tarife</a>
                      <a [routerLink]="['/contact']"
                         [routerLinkActive]="['active']">Contact</a>
                  </div>
              </div>
          </nav>
          <div class="menu-language">
            <div class="language-selector">
              <img (click)="selectLanguage('en')" src="../assets/language/eng2.ico">
            </div>
            <div class="language-selector">
              <img (click)="selectLanguage('ro')" src="../assets/language/ro2.ico">
            </div>
          </div>
      </div>
    </section>
    <section *ngIf="getLanguage() === 'true'" class="nav-section">
      <div class="container">
          <nav >
              <div class="nav-content">
                  <div class="nav-logo">
                      <img id="image" src="../assets/dentaWEB-logos.jpeg">
                  </div>
                  <div class="nav-links">
                      <a [routerLink]="['/home']"
                         [routerLinkActive]="['active']">Home</a>
                      <a [routerLink]="['/noutati']"
                         [routerLinkActive]="['active']">News</a>
                      <a [routerLink]="['/despre-noi']"
                         [routerLinkActive]="['active']">About Us</a>
                      <a [routerLink]="['/medici']"
                         [routerLinkActive]="['active']">Team</a>
                      <a [routerLink]="['/servicii-tarife']"
                         [routerLinkActive]="['active']">Services & Prices</a>
                      <a [routerLink]="['/contact']"
                         [routerLinkActive]="['active']">Contact</a>
                  </div>
              </div>
          </nav>
          <div class="menu-language">
            <div class="language-selector">
              <img (click)="selectLanguage('en')" src="../assets/language/eng2.ico">
            </div>
            <div class="language-selector">
              <img (click)="selectLanguage('ro')" src="../assets/language/ro2.ico">
            </div>
          </div>
      </div>
    </section>
    <router-outlet></router-outlet>
  </div>

</body>
</html>
