@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto:400,700');
*{
  margin: 0;
  padding: 0;
}
body {
	font-size: 14px;
	line-height: 1.5;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
}

h1 {
	font-size: 2rem;
	margin-bottom: .5em;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: .8rem;
}

.container {
	max-width: 1024px;
	width: 90%;
	margin: 0 auto;
}

.site-heading h3{

  font-size : 40px;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.site-heading p{
  font-size: 25px;
  font-style: 'font-family:courier,arial,helvetica';
}

.border {
  background: #d1360e;
  height: 2px;
  width: 165px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

