
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div *ngIf="getLanguage() === 'false'" class="blog-section paddingTB60">
      <div class="container">
        <div class="row">
          <div class="site-heading text-center">
                  <h3>Noutati</h3>
                  <p>Fii la curent cu noutatile din domeniul stomatologic pe pagina noastra de blog. Aici va veti putea afla tendintele stomatologice si propria noastra viziune asupra lor. Mai mult, va vom aduce in atentie o serie de detalii privitoare la echipamentele si activitatile noastre din cabinetele stomatologice, cat si din laborator. Vom veni cu informatii referitoare la stomatologie si la comportamentul adecvat pe care trebuie sa il abordam. Prin blog veti reusi sa ne cunoasteti mai bine.</p>
                  <div class="border"></div>
          </div>
        </div>
        <div *ngFor="let news of romanianNews">
          <h1>{{news.title}}</h1>
          <p>
            {{news.paragraph1}}
            <br/><br/>
            {{news.paragraph2}}
            <br/><br/>
            {{news.paragraph3}}
          </p>
        </div>
        <br/><br/><br/><br/>
      </div>

    </div>
    <div *ngIf="getLanguage() === 'true'" class="blog-section paddingTB60">
      <div class="container">
        <div class="row">
          <div class="site-heading text-center">
                  <h3>News</h3>
                  <p>Stay up to date with dental news on our blog page. Here you will be able to find out the dental trends and our own vision on them. Moreover, we will bring to your attention a series of details regarding our equipment and activities in the dental offices, as well as in the laboratory. We will come up with information about dentistry and the appropriate behavior we need to address. Through the blog you will get to know us better.</p>
                  <div class="border"></div>
          </div>
        </div>
        <div *ngFor="let news of englishNews">
          <h1>{{news.title}}</h1>
          <p>
            {{news.paragraph1}}
            <br/><br/>
            {{news.paragraph2}}
            <br/><br/>
            {{news.paragraph3}}
          </p>
        </div>
        <br/><br/><br/><br/>
      </div>

    </div>
</body>
</html>
